@tailwind base;
@tailwind components;
@tailwind utilities;

.bubble::after {
	content: "";
	display: block;
	opacity: 0;
	width: 0px;
	height: 0px;
	background-color: #0284c7;
	border-radius: 50%;
	transition: 0.2s ease-in-out;
}

input:checked ~ .bubble::after {
	width: 10px;
	height: 10px;
	opacity: 1;
}